@model Deliverable2.Models.SysAdmin

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>SysAdmin</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.EmailAddress)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.EmailAddress)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.FirstName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Surname)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Surname)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ContactDetails)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ContactDetails)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.SysUser.EmailAddress)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.SysUser.EmailAddress)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.AdminID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
